body {
  background-color: #000;
  color: white;
  font-family: "TT Commons", serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: -0.01em;
}
dd p {
  opacity: 0.4;
}
h1,
h2 {
  font-family: "Redcollar", sans-serif;
  font-style: normal;
  font-weight: 400;
}
h1 {
  font-size: 24px;
  line-height: 28px;
  letter-spacing: -0.02em;
  text-align: left;
}
h2 {
  font-size: 16px;
  line-height: 100%;
}
a {
  color: white;
}

/* карточка кандидата (фото, имя, контакты) */
/* card */
.card {
  display: flex;
  flex-direction: column;

  width: 322px;
}
/* photo */
.photo {
  width: 322px;
  height: 355px;

  margin: 0 0 -48px 0;
}
/* красный блок в секции card */
.cardInfoWrap {
  background-color: #f51b1b;
  position: relative;

  /* layout внутри красного блока */
  display: grid;
  grid-template-rows: min-content max-content;
}
/* красная svg в красном блоке */
.arrowSVG {
  position: absolute;
  top: -18px;
}
/* блок name: имя возраст город в красном блоке */
/* name */
.name {
  display: grid;

  gap: 8px;
}

/* блок контаков в красном блоке */
/* contacts */
.contacts {
  display: grid;
  gap: 20px;
}
/* горизонтальный gap в контактах между иконкой и текстом со второго 16px */
.contactsItem {
  display: flex;
  align-items: center;

  gap: 16px;
}
/* горизонтальный gap в контактах между иконкой и текстом у первого 11px */
.contacts li:first-child .contactsItem {
  gap: 11px;
}

/* блок cv: образование, карьера, навыки */
/* cv */
.cv {
  position: relative;
  border: 1px solid #fff;
}
/* горизонтальный список в секции "Навыки" */
.skills__list {
  display: flex;
  gap: 32px;
}
/* layout desktop 1440px */
@media screen and (min-width: 768px) and (max-width: 1441px) {
  .container {
    margin: 40px;
  }
  header {
    position: absolute;
    width: 240px;
    height: 24px;
    right: 41px;
    top: 26px;
  }
  main {
    display: grid;
    grid-template-columns: max-content 1fr;
    /* вертикальный gap между карточкой и основной информацией (desktop) */
    gap: 32px;
  }
  /* карточка кандидата (фото, имя, контакты) (desktop) */
  .card {
    height: 780px;
  }
  /* красный блок в секции card (desktop) */
  .cardInfoWrap {
    padding: 40px 24px;
    border-radius: 24px 24px 0 0;

    gap: 40px;
    flex-grow: 1;
  }
  .name {
    display: grid;
    gap: 8px;
  }
  /* блок контаков в красном блоке (desktop) */
  /* contacts */
  .contacts {
    display: grid;
    gap: 20px;
  }
  /* весь шрифт в card кроме заголовка (desktop) */
  .card p,
  .card .contactsItem {
    font-size: 20px;
    line-height: 24px;
    letter-spacing: -0.02em;
  }
  /* правый блок со всей основной информацией:
текст сверху; образование, карьера, навыки снизу (desktop) */
  .mainInfo {
    margin-top: 18px;
    height: 762px;
    /* layout внутри блока (desktop) */
    display: grid;
    grid-template-rows: max-content 1fr;
    /* горизонтальный gap между текстом о себе и блоком 
    "образование, карьера, навыки" (desktop) */
    gap: 32px;
  }

  /* aboutText (desktop) */
  .aboutText {
    width: 690px;
  }
  /* блок cv: образование, карьера, навыки (desktop) */
  .cv {
    padding: 48px 50px 48px 28px;
  }
  /* белая стрелка svg (desktop) */
  .cv__SVG {
    position: absolute;
    width: 60px;
    height: 20px;
    left: 57px;
    top: -1px;

    background: #000000;
  }
  .cv__section {
    padding: 20px 0;
    border-bottom: 1px solid #ffffff40;

    display: flex;
    /* вертикальный gap между заголовком и dl (desktop) */
    gap: 72px;
  }
  /* у секции "Образование" нет padding-top (desktop) */
  .cv__section:first-of-type {
    padding-top: 0px;
  }
  /* у секции "Навыки" нет padding-bottom и нет border-bottom (desktop) */
  .cv__section:last-of-type {
    padding-bottom: 0px;
    border-bottom: none;
  }
  .cv__section h2 {
    width: 124px;
  }
}
/* layout mobile */
@media screen and (max-width: 360px) {
  .container {
    margin: 20px;
    margin-bottom: 58px;
    /* внутренний layout (mobile) */
    display: grid;
    /* горизонтальный gap между лого и карточкой кандидата (mobile) */
    gap: 48px;
  }

  /* header {
  } */

  /* красный блок в секции card (mobile) */
  .cardInfoWrap {
    padding: 24px 16px 40px;
    border-radius: 20px 20px 0 0;
    /* горизонтальный gap между name и contacts (mobile) */
    gap: 32px;
  }
  .name {
    display: grid;
    gap: 4px;
  }
  /* блок контаков в красном блоке (mobile) */
  /* contacts */
  .contacts {
    display: grid;
    gap: 16px;
  }
  /* весь шрифт в card кроме заголовка (mobile) */
  .card p,
  .card .contactsItem {
    font-size: 16px;
    line-height: 20px;
    letter-spacing: -0.02em;
  }
  /* h1 (mobile) */
  h1 {
    font-size: 20px;
    line-height: 24px;
    letter-spacing: -0.02em;
  }
  main {
    display: grid;
    /* горизонтальный gap между карточкой и текстом о себе (mobile) */
    gap: 40px;
  }

  .mainInfo {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    /* gap между текстом о себе и 
    cv (образование, карьера, навыки) (mobile) */
    gap: 24px;
  }
  /* блок cv: образование, карьера, навыки (mobile) */
  .cv {
    padding: 40px 15px 30px;
  }
  .cv__section {
    border-bottom: 1px solid #ffffff40;
    padding: 24px 0;

    display: grid;
    /* gap между заголовком и dl (mobile) */
    gap: 16px;
  }
  /* у секции "Образование" нет padding-top (mobile) */
  .cv__section:first-of-type {
    padding-top: 0px;
  }
  /* у секции "Навыки" нет padding-bottom и нет border-bottom (mobile) */
  .cv__section:last-of-type {
    padding-bottom: 0px;
    border-bottom: none;
  }
  .cv__SVG {
    position: absolute;
    width: 60px;
    height: 20px;
    left: calc(50% - 60px / 2);

    top: -1px;

    background: #000000;
  }
  dl {
    display: grid;
    /* gap между descriptions (mobile) */
    gap: 12px;
  }

  .skills__list {
    /* gap между li в навыках (mobile) */
    gap: 16px;
  }
}

/* -------------------- это я для себя, надо будет удалить (мой) */
/* layout мой */
@media screen and (min-width: 361px) and (max-width: 767px) {
  .container {
    width: 90vw;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 58px;
    /* внутренний layout (мой) */
    display: grid;
    /* горизонтальный gap между лого и карточкой кандидата (мой) */
    gap: 48px;
  }
  /* header {

  } */
  .card {
    display: flex;
    flex-direction: column;

    width: 100%;
  }
  /* photo */
  .photo {
    width: 100%;
    height: 100%;

    margin: 0 0 -48px 0;
  }
  /* красный блок в секции card (мой) */
  .cardInfoWrap {
    position: relative;
    padding: 24px 16px 40px;
    border-radius: 20px 20px 0 0;
    /* горизонтальный gap между name и contacts (мой) */
    gap: 32px;
  }
  .arrowSVG {
    position: absolute;
    left: calc(50% - 322px / 2 + 1px);
    top: -18px;
  }
  .name {
    display: grid;
    gap: 4px;
  }
  /* блок контаков в красном блоке (мой) */
  /* contacts */
  .contacts {
    display: grid;
    gap: 16px;
  }
  /* весь шрифт в card кроме заголовка (мой) */
  .card p,
  .card .contactsItem {
    font-size: 16px;
    line-height: 20px;
    letter-spacing: -0.02em;
  }
  /* h1 (mobile) */
  h1 {
    font-size: 20px;
    line-height: 24px;
    letter-spacing: -0.02em;
  }
  main {
    display: grid;
    /* горизонтальный gap между карточкой и текстом о себе (мой) */
    gap: 40px;
  }

  .mainInfo {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    /* gap между текстом о себе и 
    cv (образование, карьера, навыки) (мой) */
    gap: 24px;
  }
  /* блок cv: образование, карьера, навыки (мой) */
  .cv {
    padding: 40px 15px 30px;
    width: 100%;
  }
  .cv__section {
    border-bottom: 1px solid #ffffff40;
    padding: 24px 0;

    display: grid;
    /* gap между заголовком и dl (мой) */
    gap: 16px;
  }
  /* у секции "Образование" нет padding-top (мой) */
  .cv__section:first-of-type {
    padding-top: 0px;
  }
  /* у секции "Навыки" нет padding-bottom и нет border-bottom (мой) */
  .cv__section:last-of-type {
    padding-bottom: 0px;
    border-bottom: none;
  }
  .cv__SVG {
    position: absolute;
    left: calc(50% - 60px / 2);

    top: -1px;

    background: #000000;
  }
  dl {
    display: grid;
    /* gap между descriptions (мой) */
    gap: 12px;
  }

  .skills__list {
    /* gap между li в навыках (мой) */
    gap: 16px;
  }
}
