body {
  background-color: #000;
  color: white;
  font-family: "TT Commons", serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: -0.01em;
}
dd p {
  opacity: 0.4;
}
h1,
h2 {
  font-family: "Redcollar", sans-serif;
  font-style: normal;
  font-weight: 400;
}
h1 {
  font-size: 24px;
  line-height: 28px;
  letter-spacing: -0.02em;
  text-align: left;
}
h2 {
  font-size: 16px;
  line-height: 100%;
}
a {
  color: white;
}

/* card */
.card {
  display: flex;
  flex-direction: column;

  width: 322px;
}
/* photo */
.photo {
  width: 322px;
  height: 355px;

  margin: 0 0 -48px 0;
}
.cardInfoWrap {
  background-color: #f51b1b;
  position: relative;
}
.arrowSVG {
  position: absolute;
  top: -18px;
}

/* name */
.name {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 8px;
}

/* contacts */
.contacts {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 20px;
}
.contactsItem {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  gap: 11px;
}
/* aboutText */
.aboutText {
  grid-area: aboutText;
}
/* cv */
.cv {
  grid-area: cv;
  position: relative;
  border: 1px solid #fff;
}

/* блок с описанием и cv */

/* layout */
.skills__list {
  display: flex;
}

.cardInfoWrap {
  display: grid;
  grid-template-rows: min-content max-content;
}
/* layout desktop */
@media screen and (min-width: 361px) {
  .container {
    margin: 40px;
  }
  header {
    position: absolute;
    width: 240px;
    height: 24px;
    right: 41px;
    top: 26px;
  }
  main {
    display: grid;
    grid-template-columns: max-content 1fr;
    gap: 40px;
  }

  .card {
    height: 780px;
  }
  .name p,
  .contactsItem {
    font-size: 20px;
    line-height: 24px;
    letter-spacing: -0.02em;
  }

  .mainInfo {
    margin-top: 18px;
    height: 762px;
  }

  .cardInfoWrap {
    padding: 40px 24px;
    border-radius: 24px 24px 0 0;

    gap: 40px;
    flex-grow: 1;
  }
  .skills__list {
    gap: 32px;
  }

  /* aboutText */
  .aboutText {
    width: 690px;
  }
  .cv {
    padding: 48px 50px 48px 28px;
    margin-top: 32px;
  }
  .cv__SVG {
    position: absolute;
    width: 60px;
    height: 20px;
    left: 57px;
    top: -1px;

    background: #000000;
  }
  .cv__section {
    padding: 20px 0;
    border-bottom: 1px solid #ffffff40;

    display: flex;
    gap: 72px;
  }
  .cv__section h2 {
    width: 124px;
  }
  .cv__section:first-of-type {
    padding-top: 0px;
  }
  .cv__section:last-of-type {
    padding-bottom: 0px;
    border: none;
  }
}
/* layout mobile */
@media screen and (max-width: 361px) {
  .container {
    margin: 20px;
    margin-top: 90px;
  }
  header {
    position: absolute;
    width: 220px;
    height: 22px;
    left: 20px;
    top: 20px;
  }
  main {
    display: grid;
    gap: 40px;
  }

  .mainInfo {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 24px;
  }
  .cv {
    padding: 30px 15px 40px 15px;
  }
  .cv__SVG {
    position: absolute;
    width: 60px;
    height: 20px;
    left: calc(50% - 60px / 2);

    top: -1px;

    background: #000000;
  }
  .cardInfoWrap {
    padding: 24px 16px;
    border-radius: 20px 20px 0 0;

    gap: 32px;
  }
  .skills__list {
    gap: 16px;
  }
}
